@media only screen and (max-width: 1023px){
    .navbar-toggle {
        display: block;
    }
    .mainnav {
        position: relative;
    }
    .mainnav-collapse {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #3CA798 ;
    }
    .mainnav-item a{
        color: #fff;
    }
    .mainnav-item .sub_menu{
        left: -121px;
        top: 0px;
    }
}
@media only screen and (max-width: 1999px){
    .noi_bat-phai {
        margin-bottom: 6px;
    }
    .noi_bat-phai, .noi_bat-trai{

    }
}