*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(UTM_Alter_Gothic.ttf);
    font-family: UTM_Alter_Gothic;
}
.page-wrapper {
    overflow: hidden;
}

.row{
    margin-right: 0;
    margin-left: 0;
}
.container-fluid{
    padding-right:0;
    padding-left: 0;
}
header .container-fluid{
    max-height: 54px;
    background: linear-gradient(351.8deg, #3CA798 32.14%, #59BB81 90.69%);
    width: 100%;
    display: flex;
}
header .brand {
    max-width: 197px;
    max-height: 54px;
    display: flex;
}
.brand .brand-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.brand .brand-item-1{
    padding-left: 20px;
}
header .brand .brand-item-2 div{
    width: 1px;
    height: 25px;
    background: #83E1AD;
}
header .brand .brand-item-3 span{
    font-family: UTM_Alter_Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #FFFFFF;
}
header nav{
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    display: flex;
}
header nav > div{
    color: #fff;
    font-style: normal;
    font-weight: bold;
}
header nav > div a{
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}
header .we_stream{
    position: relative;
    padding: 10px 19px;
}
header .mainnav-item-phone{
    width: 123px;
    height: 28px;
    border: 1px solid #268970;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}
header .mainnav-item-phone div{
    background: #268970;
    border-radius: 50px 0px 0px 50px;
    width: 30px;
    height: 28px;
}
header .mainnav-item-phone img{
    width:  16px;
    height: 16px;
    margin: 6px 6px 11px 7px;
}
header .mainnav-item-phone span{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
}
header .sub_menu{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: none;
    transition: 0.4s;
    z-index: 1;
    position: absolute;
    left: 1px;
    top: 48px;
}
header .sub_menu div{
    width: 120px;
    height: 48px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    z-index: 1;
}
header .sub_menu a{
    text-decoration: none;
    padding: 16px 18px;
    color: #3CA798;
    display: block;
}

header .we_stream:hover .sub_menu{ display: block; }
header .sub_menu div:hover{ background: #268970; }
header .sub_menu div:hover a{ color: #FFFFFF; }

.button__menu, .button__menu::after, .button__menu::before{
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 0;
    position: relative;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.button__menu::after, .button__menu::before{
    position: absolute;
    content: "";
    display: block;
}
.button__menu::before{
    top: 6px;
}
.button__menu::after{
    top: -6px;
}
.button__menu{
    display: block;
}

.navbar-toggle{
    padding: 18px 15px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    display: none;
}
#navbar-toggle > span{
    position: relative;
}
.mainnav-collapse {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
}
.mainnav .mainnav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
}
.mainnav .mainnav-dangnhap{
    border-left: 1px solid #268970;
}
.mainnav-item:hover{
    background: #76b9a8;
}
@media only screen and (max-width: 1023px){
    .navbar-toggle {
        display: block;
    }
    .mainnav {
        position: relative;
    }
    .mainnav-collapse {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #3CA798 ;
    }
    .mainnav-item a{
        color: #fff;
    }
    .mainnav-item .sub_menu{
        left: -121px;
        top: 0px;
    }
} /* Hết header */

.noi_bat .container-fluid{
    /* max-height: 450px;
    border: 1px solid black; */
    font-family: 'Quicksand', sans-serif;
}
.noi_bat-phai{
    padding-right: 0;
    padding-left: 0;
}
.noi_bat-phai .noi_bat-phai-1{
    position: relative;
    padding-right: 0;
    padding-left: 0;
}
.noi_bat-phai-1 img{
    width: 100%;
}
.noi_bat-phai-1 div,.noi_bat-phai-item1 div,.noi_bat-trai-1 div, .noi_bat-trai-2 div{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 36.98%, rgba(0, 0, 0, 0.8) 100%);
    width: calc(100% - 6px);
    bottom: 0;
    padding: 40px 0px 16px 16px;
}
.noi_bat-phai-1 div p, .noi_bat-phai-item1 div p, .noi_bat-trai-1 div p, .noi_bat-trai-2 div p{
    font-size: 17px;
    color: #FFFFFF;
}
.noi_bat-phai-item2 .item-nd1{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 36.98%, rgba(0, 0, 0, 0.8) 100%);
    font-size: 15px;
    color: #FFFFFF;
    width: calc(100% - 6px);
    bottom: 0;
    padding: 5px 0px 5px 10px;
    display: flex;
    flex-direction: column;
}
.img-fluid {
    display: block;
    width: 100%;
}

.noi_bat .row {
    margin-left: -3px;
    margin-right: -3px;
}

.noi_bat .row [class*='col-'] {
    padding-left: 3px;
    padding-right: 3px;
}

.mb-6px {
    margin-bottom: 6px;
}

.noi_bat-phai-item2 .nd1-2{
    display: flex;
    font-size: 10px;
}
.noi_bat-phai-item2 .nd1-2 .case{
    width: 61px;
    height: 16px;
    background: #FFF500;
    border-radius: 3px;
    color: #000;
    display: flex;
    align-items: center;
}
.noi_bat-trai-1{
    position: relative;
}
.noi_bat-trai-logo{
    position: absolute;
    top: 11px;
    left: 14px;
}
.khoi3-logo2{
    float: left;
    margin-right: 6px;
}
@media only screen and (max-width: 1999px){
    .noi_bat-phai {
        margin-bottom: 6px;
    }
}