*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(UTM_Alter_Gothic.ttf);
    font-family: UTM_Alter_Gothic;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
.swiper-button-next:focus,
.swiper-button-prev:focus{
    outline: none;
}
a {
    text-decoration: none;

}
button:hover{
    cursor: pointer;
    background-color: #3e8e41
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #4e7d77;
    transform: translateY(4px);
    -moz-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -o-transform: translateY(4px);
    -ms-transform: translateY(4px);
  }
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
.page-wrapper {
    overflow: hidden;
}

.row{
    margin-right: 0;
    margin-left: 0;
}
.container-fluid{
    padding-right:0;
    padding-left: 0;
}
header .container-fluid{
    max-height: 54px;
    background: linear-gradient(351.8deg, #3CA798 32.14%, #59BB81 90.69%);
    width: 100%;
    display: flex;
}
header .brand {
    max-width: 197px;
    max-height: 54px;
    display: flex;
}
.brand .brand-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.brand .brand-item-1{
    padding-left: 20px;
}
header .brand .brand-item-2 div{
    width: 1px;
    height: 25px;
    background: #83E1AD;
}
header .brand .brand-item-3 span{
    font-family: UTM_Alter_Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #FFFFFF;
}
header nav{
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    display: flex;
}
header nav > div{
    color: #fff;
    font-style: normal;
    font-weight: bold;
}
header nav > div a{
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}
header .we_stream{
    position: relative;
    padding: 10px 19px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
header .mainnav-item-phone{
    width: 123px;
    height: 28px;
    border: 1px solid #268970;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}
header .mainnav-item-phone div{
    background: #268970;
    border-radius: 50px 0px 0px 50px;
    width: 30px;
    height: 28px;
}
header .mainnav-item-phone img{
    width:  16px;
    height: 16px;
    margin: 6px 6px 11px 7px;
}
header .mainnav-item-phone span{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
}
header .sub_menu{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: none;
    transition: 0.4s;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 48px;
}
header .sub_menu div{
    width: 120px;
    height: 48px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    z-index: 1;
}
header .sub_menu a{
    text-decoration: none;
    padding: 16px 18px;
    color: #3CA798;
    display: block;
}

/* header .we_stream:hover .sub_menu{ display: block;} */
header .sub_menu div:hover{ background: #268970; }
header .sub_menu div:hover a{ color: #FFFFFF; }

.button__menu, .button__menu::after, .button__menu::before{
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 0;
    position: relative;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.button__menu::after, .button__menu::before{
    position: absolute;
    content: "";
    display: block;
}
.button__menu::before{
    top: 6px;
}
.button__menu::after{
    top: -6px;
}
.button__menu{
    display: block;
}

.navbar-toggle{
    padding: 18px 15px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    display: none;
}
#navbar-toggle > span{
    position: relative;
}
.mainnav-collapse {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
}
.mainnav .mainnav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
}
.mainnav .mainnav-dangnhap{
    border-left: 1px solid #268970;
}
.mainnav-item:hover{
    background: #33947c;
} 
 /* Hết header */

.noi_bat .container-fluid{
    /* max-height: 450px;
    border: 1px solid black; */
    font-family: 'Quicksand', sans-serif;
}
.noi_bat-phai{
    padding-right: 0;
    padding-left: 0;
}
.noi_bat-phai .tin-noi-bat-1{
    position: relative;
    padding-right: 0;
    padding-left: 0;
}
.d-flex {
    display: flex !important;
}
.tin-noi-bat {
    display: block;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.tin-noi-bat img {
    transition: all 0.3s ease;
}
.tin-noi-bat:hover p{
    color: #abff9d;
}
.tin-noi-bat:hover img{
    opacity: 0.95;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
/* .tin-noi-bat-3:hover .item-nd1>p{
    color: #abff9d;
} */
.item-nd1 > p a{
    color: #fff;
}
.tin-noi-bat-1 div,.tin-noi-bat-2 div,.tin-noi-bat-4 div, .tin-noi-bat-5 div{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.98%, rgba(0, 0, 0, 0.9375) 100%);
    width: calc(100% - 6px);
    bottom: 0;
    height: 127px;
    display: flex;
    align-items: flex-end;
}
.tin-noi-bat-1 div, .tin-noi-bat-4 div, .tin-noi-bat-5 div{
    width: 100%;
}
.tin-noi-bat-1 div p, .tin-noi-bat-2 div p, .tin-noi-bat-5 div p{
    font-size: 17px;
    font-weight: bold;
    padding: 14px 10px;
}
.tin-noi-bat-4 div p{
    font-size: 17px;
    font-weight: bold;
    padding: 14px 0px;
}
.tin-noi-bat-3 .item-nd1{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 36.98%, rgba(0, 0, 0, 0.935) 100%);
    font-size: 15px;
    color: #FFFFFF;
    width: calc(100% - 6px);
    bottom: 0;
    padding: 0px 0px 5px 6px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 127px;
    justify-content: flex-end;
}
.img-fluid {
    display: block;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.noi_bat .row {
    margin-left: -3px;
    margin-right: -3px;
}

.noi_bat .row [class*='col-'] {
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
}

.mb-6px {
    margin-bottom: 6px;
}

.tin-noi-bat-3 .nd1-2{
    display: flex;
    margin-top: 5px;
}
.tin-noi-bat-3 .nd1-2 .case{
    background: #FFF500;
    border-radius: 3px;
    color: #000;
    display: flex;
    align-items: center;
    padding: 2px 3px;
    font-size: 10px;
}
.nd1-2 >span{
    font-size: 12px;
    margin-left: 5px;
    color: #50fb98;
    opacity: 0.8;
}
.tin-noi-bat-4{
    position: relative;
}
.noi_bat-trai-logo{
    position: absolute;
    top: 11px;
    left: 14px;
}
.khoi3-logo2{
    float: left;
    margin: 0px 6px 14px 6px;
}
/* .swiper-slide1 > a{
    text-decoration: none;
    color: #fff;
} */
/* .swiper-slide1 > a:hover div > p{
    color: #abff9d;
} */
/* .swiper-slide1 > a:hover .case p{
    color: #000;
} */
.slide1{
    position:relative;
    overflow: hidden;
}
.slide1:hover img{
    opacity: 0.95;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.slide1:hover .khoi2-anh3-text1{
    color: #abff9d;
}
.slide1 >div{
    position:absolute;
    bottom:0;
    color:#fff;
}
.khoi2-anh3-overlay a{
    color: #fff;
}
.khoi2-anh3-text2{
    display:flex;
    margin-top: 5px;
}
.khoi2-anh3-text2 div{
    background: #219653;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px 4px;
}
.khoi2-anh3-overlay{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.98%, rgba(0, 0, 0, 0.9375) 100%);
    font-size: 15px;
    width: 100%;
    padding: 5px 0px 5px 10px;
    font-weight: bold;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.khoi2-anh3-text2 >p{
    margin-left: 5px;
    font-size: 12px;
    opacity: 0.8;
    padding: 2px 0px;
}
.swiper-pagination1 .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    background: #C4C4C4;
    opacity: 0.3;
}
.swiper-pagination1 .swiper-pagination-bullet-active{
    background: linear-gradient(281.05deg, #3CA798 32.14%, #59BB81 90.69%);
    opacity: 1;
}
.swiper-pagination4 .swiper-pagination-bullet-active{
    background: linear-gradient(281.05deg, #3CA798 32.14%, #59BB81 90.69%);
    opacity: 1;
}
.swiper-button-prev1::after{
    display: none;
}
.swiper-button-next1::after{
    display: none;
}
.swiper-button-next1 img{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* } Hết Nổi Bật */

.filter{
    font-family: 'Quicksand', sans-serif;
}
.filter >p{
    text-align: center;
    font-size: 21px;
    text-transform:uppercase;
    margin: 2em auto; 
}
.filter .text_box1,.filter .text_box3{
    border-radius: 50px;
    border: 1px solid#59BB81;
}
.filter .text_box1{
    padding: 13px;
    width: 100%;
}
.filter .text_box3{
    padding: 13px;
    width: 100%;
}
.filter select{
    padding: 13px 24px;
    border-radius: 50px;
    position: absolute;
    border: 1px solid#59BB81;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       
    background: url('../img//vt_dow.png') 90% 50% no-repeat ;  
}
.filter .select1{
    width: 100%;
    height: 48px;
}
.filter .select2{
    width: 100%;
    height: 48px;
}
.filter .select3{
    width: calc(100% - 12px);
    height: 48px;
}
.filter .button_1{
    width: 320px;
    height: 44px;
    background: linear-gradient(324.84deg, #3CA798 32.14%, #59BB81 90.69%);
    margin: 30px auto 50px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
}

.filter .button_1 p{
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 6px;
}
/* } Hết Lọc */
.tieu-bieu{
    margin: 60px auto 58px;
    font-family: 'Quicksand', sans-serif;
}
.tieu-bieu > p{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.slide2{
    height: 290px;
    margin: 40px auto 58px;
    position: relative;
}
.tieu-bieu .swiper-button-next2::after{
    display: none;
}
.swiper-button-next2{
    right:-40px;
    top: 100px;
}
.swiper-button-prev2{
    left: -38px;
    top: 100px;
}
.swiper-button-prev2::after{
    display: none;
}
.swiper-button-prev2 img{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tieu-bieu .idol:hover .ten_cs a{
    color: #3CA798;
}
.tieu-bieu .idol .grandient{
    width: 191px;
    height: 191px;
    background: linear-gradient(324.84deg, #3CA798 32.14%, #59BB81 90.69%);
    border-radius: 50%;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.tieu-bieu .grandient img{
    position: absolute;
    border-radius: 50%;
    width: 183px;
    height: 183px;
    border: 2px solid #fff;
    top:6px;
    left: 6px;
    object-fit: cover;
    object-position: center;
    transition: all 0.6s ease;
}
.tieu-bieu .idol .grandient:hover img{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.tieu-bieu .idol >p{
    text-align: center;
}
.tieu-bieu .idol .ten_cs{
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 25px;
}.tieu-bieu .idol .ten_cs a{
    color: #000;
}
.tieu-bieu .idol .thong_tin_cs{
    margin-top: 7px;
    font-size: 14px;
    color: #666666;
    line-height: 1.3;
}   
/* Hết Tiêu biểu */
.hoat-dong{
    background: #F5F5F5;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}
.hd-cover{
    border: 1px solid #f5f5f5;
    max-width:1230px;
}
.hoat-dong .container > p{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 43px;
}
.hoat-dong .hd_tren, .hoat-dong .hd_duoi{
    position: relative;
    height: 225px;
}

.hoat-dong .tren, .hoat-dong .duoi{
    width: 200px;
    height: 225px;
    position: relative;
    z-index: 10;
}
.hoat-dong .tren .chu{
    font-size: 15px;
    line-height: 1.6;
}
.hoat-dong .chu a{
    color: #000;
}
.hoat-dong .line{
    position: relative;
}
.hoat-dong .line > div{
    display: flex;
}
.hoat-dong .line1{
    position: absolute;
    opacity: 0.5;
    /* width: 100%; */
}
.hoat-dong .line1 + img{
    position: absolute;
    left: 1116px;
    top: -4px;
}
.hinh_tron{
    position: absolute;
    width: 32px;
    height: 32px;
    background: linear-gradient(90deg, #EEA50C 0%, #EE6B0C 103.05%);
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8px;
}
.tron_nho{
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(90deg, #EEA50C 0%, #EE6B0C 103.05%);
    border-radius: 10px;
    z-index: 10;
    bottom: 25px;
}
.line .t10{
    top: -14px;
    left: 2px;
}
.line .t11{
    top: -14px;
    left: 358px;
}
.line .t12{
    top: -14px;
    left: 700px;
}
.hd_duoi > div{
    z-index: 10;
}
.hd_duoi .chu{
    line-height: 1.6;
    font-size: 15px;
}
.cac-diem > div{
    position: relative;
}
.hoat-dong .tron_nho + img{
    position: absolute;
}
.hoat-dong .nho1 > div{ left: 85px;}
.hoat-dong .nho1 > img{
    left: 90px;
    bottom: 30px;
}
.hd_tren .tren1{ left: 62px;}
.tren svg{ transition: all 1s ease;}
.tren:hover svg{
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.tren:hover .hd-tieu-de a{
    color: #3CA798;;
}
.duoi svg{ transition: all 1s ease;}
.duoi:hover svg{
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.duoi:hover .hd-tieu-de a{
    color: #3CA798;;
}
.hoat-dong .nho2 > div{ left: 138px;}
.hoat-dong .nho2 > img{
    left: 142px;
    top: 7px;
}
.hd_duoi .duoi1{ 
    left: 116px;
}
.hoat-dong .nho3 > div{ left: 338px;}
.hoat-dong .nho3 > img{
    left: 343px;
    bottom: 30px;
}
.hd_tren .tren2{ 
    position: absolute;
    left: 316px;
    top: 0px;
}
.hoat-dong .nho4 > div{ left: 530px;}
.hoat-dong .nho4 > img{
    left: 535px;
    top: 7px;
}
.hd_duoi .duoi2{ 
    position: absolute;
    left: 543px;
    top: 0px;
}
.hoat-dong .nho5 > div{ left: 663px;}
.hoat-dong .nho5 > img{
    left: 668px;
    bottom: 30px;
}
.hd_tren .tren3{ 
    position: absolute;
    left: 673px;
    top: 0px;
}
.hoat-dong .nho6 > div{ left: 750px;}
.hoat-dong .nho6 > img{
    left: 755px;
    top: 7px;
}
.hd_duoi .duoi3{ 
    position: absolute;
    left: 794px;
    top: 0px;
}
.hoat-dong .nho7 > div{ left: 957px;}
.hoat-dong .nho7 > img{
    left: 962px;
    top: 7px;
}
.hd_duoi .duoi4{ 
    position: absolute;
    left: 1002px;
    top: 0px;
}
.nd-hd{
    max-width: 1230px;
    overflow-x: scroll;
    -ms-overflow-style: none;
}
.nd-hd::-webkit-scrollbar {
    display: none;
    background-color: #5a5353;
    height: 3px;
}
.nd-hd::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.nd-hd::-webkit-scrollbar-thumb
{
	background-color: #5a5353;
}
.bt-hoatdong {
    margin: auto;
    /* position: relative;
    top: -52px; */
    margin-bottom: 50px;
}
.hoat-dong-muiten{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
/* Hết hoạt động */
.grandient_text{
    background: linear-gradient(324.84deg, #3CA798 32.14%, #59BB81 90.69%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.doi_tac{
    font-family: 'Quicksand', sans-serif;
}
.doi_tac >p{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 55px;
}
.doi_tac >div{
    width: 66%;
    margin: 50px auto;
    /* overflow: hidden; */
}
/* } Hết đối tác */
.workshop{
    font-family: 'Quicksand', sans-serif;
}
.workshop > p{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 51px;
    text-align: center;
}
.workshop .slide3{
    position: relative;
    height: 440px;
    width: 100%;
    margin: 42px auto 114px;
}
.workshop .swiper-pagination3{
    padding-top:24px;
    position: relative;
}
.workshop .swiper-button-next3::after{
    display: none;
}
.swiper-button-next3{
    right:-44px;
}
.swiper-button-prev3::after{
    display: none;
}
.swiper-button-prev3{
    left: -44px;
}
.swiper-button-prev3 img{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-pagination3 .swiper-pagination-bullet{
    margin: 0 10px;
    width: 40px;
    height: 5px;
    background: #4c3e3e;
    border-radius: 6px;
}
.swiper-pagination3 .swiper-pagination-bullet-active{
    background: linear-gradient(90deg, #EEA50C 0%, #EE6B0C 103.05%);
}
.workshop .tin{
    width: 100%;
    height: 100%;
    position: relative;
}
.workshop .tin:hover .tieu-de-tin{
    color: #3CA798;
}
.workshop .tin-anh img{
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}
.workshop .tin-anh + p{
    font-weight: bold;
    font-size: 19px;
    padding-top: 11px;
}
.workshop .tin-anh + p a{
    color: #000;
}
.workshop .tin-anh{
    overflow: hidden;
}
.workshop .tin-anh:hover img{
    opacity: 0.95;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.workshop .tin .text{
    font-size: 14px;
    color: #333333;
    margin-top: 11px;
}
.workshop .bt-trang{
    height: 33px;
    width: 144px;
    border-radius: 50px;
    display: flex;
    background: #fff;
    border: 2px solid #3CA798;
    justify-content: center;
}

/* .workshop .bt-trang .nen-trang{
    background: #ffffff;
    width: calc(100% - 4px);
    height: calc(100% - 4.7px);
    border-radius: 50px;
    position: absolute;
    bottom: 2.6px;
    left: 2px;
} */
.workshop .bt-trang > img{
    margin-right: 8px;
}
.workshop .bt-trang > p{
    font-size: 14px;
    color: #1A9483;
    font-weight: bold;
}
.workshop .bt-mau{
    background: linear-gradient(351.8deg, #3CA798 32.14%, #59BB81 90.69%);
    height: 33px;
    width: 166px;
    border-radius: 50px;
    border: none;
}
.workshop .bt-mau > p{
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 7px 24px;
}

.workshop .bt-ws{
    position: relative;
    margin: 18px 0px 0px 5px;
}
/* Hết workshop */
.case-study{
    background: #F5F5F5;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 0px 1px 0px;
}
.case-study .container > p{
    padding-top: 45px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.xem{
    width: 320px;
    height: 44px;
    background: linear-gradient(324.84deg, #3CA798 32.14%, #59BB81 90.69%);
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
}
.xem p{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.xem img{
    margin-left: 9px;  
    margin-top: 2px;
}
.case-study .xem{
    margin: 34px auto 65px;
}
.case-study .slide4{
    height: 400px;
    margin: 34px auto 63px;
    position: relative;
}
.swiper-button-next4::after{
    display: none;
}
.swiper-button-next4{
    right:-44px;
}
.swiper-button-prev4::after{
    display: none;
}
.swiper-button-prev4{
    left: -44px;
}
.swiper-button-prev4 img{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-pagination4{
    padding-top:24px;
    position: relative !important;
}
.swiper-pagination4 .swiper-pagination-bullet{
    margin: 0 4px;
}
.chu_mo{
    font-size: 13px;
    color: #999999;
    opacity: 0.7;
}
.chu_to{
    font-size: 27px;
    color: #111111;
    font-weight: bold;
}
.chu_dam_nho{
    font-size: 14px;
    color: #111111;
}
.chi_so{ margin-top: 10px; font-weight: bold;}
.case-study .thong-tin{
    padding-left: 30px;
}
.case-study .nd-sl{
    height: 100%; 
    background: #fff;
}
.case-study .tt-chinh{
    margin-top: 21px;
    width: 90%;
}
.case-study .thong-tin a{
    color: #000;
}
.case-study .nd-anh div{
    overflow: hidden;
    margin-top: 15px;
}
.case-study .nd-sl img{
    transition: all 0.3s ease;
}
.case-study .nd-sl:hover img{
    opacity: 0.95;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.case-study .nd-sl:hover .chu_to a{
    color: #3CA798;
}
/* Hết case stydy */
footer > div{
    background: #27282C;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
}
.footer-content{
    padding-top: 50px;
}
footer .dang-ky .text1{
    font-weight: bold;
    font-size: 13px;
    color: #999999;
}
footer .dang-ky .text1 + p{
    margin-top: 7px; font-size: 16px;
}
footer .dang-ky input{
    padding: 10px 25px;
    margin-top: 34px;
    width: 70%;
    border-radius: 50px;
    border: 1px solid #59BB81;
    background-color: #27282C;
}
footer .dang-ky ::placeholder{ color: #CCCCCC; font-size: 14px;}
footer .dang-ky .button1{
    margin-top: 13px;
    background: linear-gradient(314.31deg, #3CA798 32.14%, #59BB81 90.69%);
    border-radius: 50px;
    width: 30%;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
footer .dang-ky .button1 >p{ 
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
footer .phan_cach{
    height: 1px;
    margin-top: 27px;
    background: #373737;
    width: 100%;
}
footer .lien_he > p{
    font-weight: bold;
    font-size: 13px;
    color: #999999;
}
footer .lien_he + ul{
    list-style-type: none;
    margin-top: 18px;
}
footer .lien_he + ul li{
    padding: 8px 18px;
    font-size: 14px; 
}
footer .lien_he li::before{
    content: '';
    width: 8px;
    height: 8px;
    background: linear-gradient(281.05deg, #3CA798 32.14%, #59BB81 90.69%);
    margin: 4px 0px 0px -18px;
    border-radius: 8px;
    position: absolute;
}
footer .ban-quyen >p{
    font-size: 12px;
    padding: 23px 25px;
}
footer .chinh-sach ul{
    list-style-type: none;
}
footer .chinh-sach li{
    float: right;
    padding: 18px 6px;
}
footer .chinh-sach li a{
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
footer .chinh-sach li a:hover{
    color: #999999;
}
footer .logo2{
    float: left;
    margin-top: 19px;
}
/* } Hết footer */
.pr-12{
    padding-right: 12px !important;
}
.pl-12{
    padding-left: 12px !important;
}
.custom-select-wrapper {
    
}
.custom-select {
    
}
.custom-select__trigger {
    height: 48px;
    width: 100%;
    border-radius: 48px;
    border: 1px solid#59BB81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
}
.custom-options {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 101%;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border: 1px solid#59BB81;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background: linear-gradient(351.8deg, #3CA798 32.14%, #59BB81 90.69%);
}
.custom-select__trigger1 {
    height: 48px;
    width: 100%;
    border-radius: 48px;
    border: 1px solid#59BB81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
}
.custom-select1.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option1 {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option1:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option1.selected {
    color: #ffffff;
    background: linear-gradient(351.8deg, #3CA798 32.14%, #59BB81 90.69%);
}

.custom-select__trigger2 {
    height: 48px;
    width: 100%;
    border-radius: 48px;
    border: 1px solid#59BB81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
}

.custom-select2.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option2 {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option2:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option2.selected {
    color: #ffffff;
    background: linear-gradient(351.8deg, #3CA798 32.14%, #59BB81 90.69%);
}
.select2-selection--multiple{
    border: 1px solid#59BB81 !important;
    border-radius: 50px !important;
    height: 48px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid#59BB81;
}
.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color:#fff;
    /* border-radius: 10px !important;
     margin-top: 2px;
    margin-left: 5px;
    margin-right: 0px; */
    margin-right: 0px;
    margin-top: 0px;
    padding: 13px 0px 0px 0px;
    border: none;
}
.select2-container .select2-search--inline {
    text-align: center;
    padding-top: 8px;
    padding-left: 10px;
    width: 100%;
    float: none !important;
}
.select2-container--open .select2-dropdown--below {
    border: 1px solid#59BB81;
}
.select2-container--open .select2-dropdown--above {
    border: 1px solid#59BB81;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: linear-gradient(351.8deg, #3CA798 32.14%, #59BB81 90.69%);
}
.select2-results__option {
    padding: 10px;
}
.select2-container--default .select2-selection--multiple {
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.select2-container--default .select2-selection--multiple::-webkit-scrollbar {
    display: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px;
    position: absolute;
    top: 12px;
    right: 5px;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar{
    background-color: #5a5353;
    width: 3px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: #5a5353;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: relative;
    top: -1px;
    display: none;
}
.select2-selection__choice::before{
    content:", "
}
.select2-selection__clear + span::before{
    content:""
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-left: 12px;
    padding: 14px 0px;
}
.select2-container--default .select2-selection--multiple {
    overflow-y: hidden;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: none;
}
.select2-container .select2-search--inline {
    position: absolute;
    top: 5px;
    width: 90%;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0px;
}
/* .select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
} */

/* Mobile */
@media only screen and (max-width: 1999px){
    .noi_bat-phai {
        margin-bottom: 6px;
    }
}
@media only screen and (max-width: 1024px){
    footer .lien_he{
        margin-top: 10px;
    }
    .case-study .thong-tin{
        padding-left: 77px;
    }
    .case-study .tt-chinh{
        width: 100%;
    }
    .doi_tac >div{
        width: 100%;
    }
    .swiper-button-next4 {
        right: -36px;
    }
    .swiper-button-prev4 {
        left: -36px;
    }
    .hoat-dong-muiten{
        display: block;
        top: 48px;
        right: 50px;
    }
    .nd-hd::-webkit-scrollbar {
        display: block;
    }
    .bt-hoatdong {
        margin-bottom: 35px;
        margin-top: 30px;
    }
    /* .hoat-dong .line1 + img {
        right: -47px;
    } */
}
@media only screen and (max-width: 1023px){
    .navbar-toggle {
        display: block;
    }
    .mainnav {
        position: relative;
    }
    .mainnav-collapse {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #3CA798 ;
    }
    .mainnav-item a{
        color: #fff;
    }
    .mainnav-item .sub_menu{
        left: -121px;
        top: 0px;
    }
}

@media only screen and (max-width: 768px){
    .case-study .slide4{
        height: 800px;
    }
    .case-study .thong-tin{
        padding-left: 15px !important;
    }
    .case-study .thong-tin .chien-dich{
        margin-top: 10px !important;
    }
    .case-study .nd-sl1{
        height: 400px;
    }
    .case-study .img-case{
        height: 100%;
    }
    .filter .input-2{
        margin:30px auto 10px;
    }
    .loc-1{
        padding-right: 0px !important;
    }
    .swiper-button-prev4 {
        left: -32px;
    }
    .swiper-button-next4 {
        right: -32px;
    }
    .swiper-button-next2 {
        right: -28px;
    }
    .swiper-button-prev2 {
        left: -28px;
    }
    .swiper-button-next3{
        right:-35px;
    }
    .swiper-button-prev3{
        left:-35px;
    }
    header .we_stream {
        flex-direction: column;
    }
    .mainnav .mainnav-item {
        padding: 15px 59px;
    }
    header .sub_menu {
        box-shadow: none;  
        position: relative;
    }
    .mainnav-item .sub_menu {
        left: 0px;
        top: 0px;
    }
    header .sub_menu div {
        background:#33947c;
    }
    header .we_stream:hover .sub_menu {
        padding-top: 10px;
    }
    header .sub_menu a {
        color: #fff;
    }
    /* .hoat-dong .nho5, .hoat-dong .nho6, .hoat-dong .nho7{ 
        display: none;
    }
    .hd_tren .tren3, .hd_duoi .duoi3, .hd_duoi .duoi4{ 
        display: none;
    } */
}
@media only screen and (max-width: 425px){
    footer .dang-ky input {
        width: 100%;
    }
    footer .dang-ky .button1 {
        width: 60%;
    }
    .case-study .img-case{
        height: 90%;
    }
    .case-study .slide4{
        height: 890px !important;
    }
    .case-study .chi-so-2{
        margin-top: 10px;
    }
    .swiper-pagination3 .swiper-pagination-bullet{
        margin: 0 2px;
        width: 20px;
    }
    .custom-option, .custom-option1, .custom-option2 {
        padding: 0px 4px;
    }
    .swiper-button-next2 {
        right: -13px;
        top: 153px;
    }
    .swiper-button-prev2 {
        left: -13px;
        top: 153px;
    }
    .doi_tac >p {
        margin-top: 40px;
    }
    .doi_tac >div {
        margin:40px auto;
    }
    footer .chinh-sach li {
        float: left;
    }
    .loc1-1, .input-2-1{
        padding: 0px !important;
    }
    .loc1-2, .input-2-2{
        margin-top: 22px;
    }
    .filter .input-2 {
        margin: 20px auto 0px;
    }
    .swiper-button-next4 {
        right: -44px;
    }
    .swiper-button-prev4 {
        left: -44px;
    }
    footer .lien_he + ul li {
        padding: 8px 0px 8px 17px;
    }
    .swiper-button-next3 {
        right: -44px;
    }
    footer .lien_he, footer .lien_he {
        padding-right: 0px;
    }
    footer .ban-quyen >p {
        padding: 23px 25px 0px;
    }
    footer .chinh-sach{
        margin-bottom: 12px;
    }
}
@media only screen and (max-width: 375px){
    footer .chinh-sach li {
        padding: 6px;
    }
    footer .chinh-sach{
        margin-bottom: 20px;
    }
    .swiper-button-next2 {
        right: -5px;
    }
    .swiper-button-prev2 {
        left: -5px;
    }
    footer .ban-quyen >p {
        padding: 23px 25px 14px;
    }
    footer .logo2 {
        margin-top: 28px;
    }
}
@media only screen and (max-width: 320px){
    .filter .button_1{
        width: 60%;
    }
    .xem{
        width: 80%;
    }
    .case-study .container > p, .workshop > p, .hoat-dong .container > p {
        font-size: 27px;
    }
    .hoat-dong .container > p{
        padding: 38px;
    }
}



